
.card-plan {
  position: relative;
  width: 288px;
  border-radius: 24px;
  background: var(--white);
  box-shadow: 0px 1px 32px 0px var(--gray70);
  .badge {
    position: absolute;
    letter-spacing: .4px;
    font-weight: 900;
    font-size: .75rem;
    line-height: 1rem;
    background-color: var(--aqua);
    top: 40px;
    left: 32px;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 6px;
  }
  &__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 68px 32px 51px 32px;
    .card-title {
      display: flex;
      justify-content: space-between;
      &__text {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        p {
          margin-top: 0;
        }
        .card-description {
          font-weight: 900;
          text-align: left;
          &__coste {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.6px;
            color: var(--gray50);
            margin: 0;
          }
          &__discount {
            color: var(--gray50);
            text-decoration-line: line-through;
            letter-spacing: -.2px;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-top: .25rem;
            margin-bottom: 0;
          }
          &__price {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: var(--neutral);
            margin: 0
          }
        }
      }
      &__icon {
        width: 56px;
        height: 56px;
      }
    }
    .line-separator {
      height: 1px;
      width: 100%;
      background-color: var(--neutral1);
      margin: 24px 0;
    }
    .card-list {
      gap: 24px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      padding: 0;
      &__item {
        color: var(--neutrals7);
        letter-spacing: .1px;
        line-height: 1.75rem;
        font-size: 16px;
        list-style-type: disc;
        margin-left: 18px;
      }
    }
    .card-button {
      width: 224px;
      height: 52px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      font-family: var(--lato-regular);
      letter-spacing: 0.4px;
      margin-top: auto;
  
    }
  }
}