.back-button {
  color: var(--purple30);
  font-family: var(--brsonoma-regular);
  height: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  cursor: pointer;
  display: flex;
  .icon-back-button{
    width: 20px;
    height: 20px;
    border: 2px solid var(--purple30);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    .arrow-left{
      width: 5px;
      height: 9px;
      margin-left: -1px;
      margin-top: -1px;
      path{
        fill: var(--purple30);
      }
    }
  }
}
.back-button:hover {
  text-decoration: underline;
}