.footer {
  margin-top: auto;
  width: 100%;
  height: 106px;
  background-color: var(--gray1);
  z-index: 10;
  &__left {
    .logo-icon {
      width: 85px;
      path {
        fill: var(--gray10);
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .footer__right {
      color: var(--gray10);
      font-family: var(--brsonoma-regular);
      font-size: 14px;
      line-height: 18px;
    }
  }
}