@import '../../scss/variables/mixins';

.login {
  position: relative;
  display: grid;
  padding: 0;
  place-items: center;
  min-height: calc(100vh - 106px);
  background-color: var(--gray10);
  overflow: hidden;
  @include laptop {
    padding: 5rem 0 4rem 0;
  }
  @include tablet {
    padding: 3rem 0 4rem 0;
  }
  @include mobile {
    padding: 5rem 0 4rem 0;
  }
  .container {
    display: flex;
    align-items: center;
    .image-container {
      width: 100%;
      max-width: 480px;
      border-radius: 20px;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
      }
      @include tablet {
        display: none;
      }
    }
    .text-container {
      margin-left: 128px;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 352px;
      @include smallLaptop {
        margin-left: 80px;
      }
      @include tablet {
        max-width: 100%;
        margin-left: 0;
      }
      .form-header{ 
        display: block;
        @include tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .tag-seguro {
          display: inline-block;
          padding: 4px 8px;
          border-radius: 4px;
          font-family: var(--brsonoma-bold);
          font-size: 14px;
          line-height: 16px;
          letter-spacing: .4px;
          background: linear-gradient(90deg, #00F4E2 0%, #00FF7F 100%);
          color: var(--gray1);
          width: fit-content;
          margin-bottom: 16px;
          @include tablet {
            font-size: 12px;
            margin-bottom: 8px;
            padding: 2px 8px;
          }
        }
        .title-seguro {
          font-family: var(--brsonoma-bold);
          line-height: 40px;
          font-size: 32px;
          color: var(--gray1);
          margin: 0;
          @include tablet {
            font-size: 28px;
          }
        }
        .image-tablet {
          display: none;
          @include tablet {
            display: block;
            width: 136px;
            min-width: 136px;
            border-radius: 20px;
            overflow: hidden;
            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
      hr {
        display: none;
        @include tablet {
          display: block;
          width: 100%;
          border: 1px solid var(--gray30);
          margin: 24px 0 24px 0;
        }
      }
      .description-seguro {
        font-family: var(--brsonoma-medium);
        font-weight: 400;
        letter-spacing: 0.28px;
        text-align: left;
        line-height: 20px;
        font-size: 14px;
        color: var(--gray1);
        margin: 5px 0 5px 0;
      }
      .form-login {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .checkboxes-login {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          margin-bottom: 12px;
          row-gap: 12px;
        }
        .underline-button-login {
          width: fit-content;
          margin-bottom: 20px;
          font-weight: 700;
          text-decoration: underline;
        }
        .button-login {
          @include tablet {
            width: 100% !important;
          }
        }
      }
    }
  }
  .purple-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    @include tablet {
      display: none;
    }
  }
  .green-blur {
    position: absolute;
    top: 0;
    right: 0;
    @include tablet {
      display: none;
    }
  }

  .green-blur-tablet {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .purple-blur-tablet {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
