@font-face {
  font-family: brsonoma-medium;
  src: url('/src/assets/fonts/BRSonoma-Medium-BF654c45266edd1.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: brsonoma-bold;
  src: url('/src/assets/fonts/BRSonoma-Bold-BF654c4526823f5.otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: brsonoma-regular;
  src: url('/src/assets/fonts/BRSonoma-Regular-BF654c45266c042.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: lato-regular;
  src: url('/src/assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  /*colors*/
  --gray0: #0A051E;
  --gray1: #03050F;
  --gray10: #F8F9FF;
  --gray30: #CCD1EE;
  --gray50: #7981B2;
  --gray60: #5E6488;
  --gray70: #AEACF359;
  --gray80: #2B304E;
  --white: #FFF;
  --purple1: #EDEFFC;
  --neutral: #141938;
  --neutral1: #D7DBF5;
  --purple30: #4F4FFF;
  --red-rimac-logo: #F7052D;
  --red5: #FF1C44;
  --aqua: #7DF0BA;

  /*fonts*/
  --brsonoma-medium: brsonoma-medium;
  --brsonoma-bold: brsonoma-bold;
  --brsonoma-regular: brsonoma-regular;
  --lato-regular: lato-regular;

  /*sizes*/
  --max-width: 1184px;
};